:root {
    --white-color: #FFF;
    --black-color: #000;
    --text-color: #99999F;
    --blue-color: #2DCEEF;
    --gradient-blue-color: #35EDF8;
    --gradient-purple-color: #9B2DEF;
    --border-color: #2D9BEF;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

p, h2, h3, h4{
    margin: 0;
}

input[type='file']{
    display: none;
}

.grid {
    width: 1480px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 144px;
}

.grid-1000 {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 144px;
}

.grid__full-width {
    width: 100%;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    color: var(--white-color);
    height: 40px;
    width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.btn-gradient {
    background: linear-gradient(to right, var(--gradient-blue-color), var(--gradient-purple-color));
}


/* Animation */

@keyframes listSearchGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growth{
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    /* display: flex; */
}

.modal--show{
    display: flex;
    
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    width: 600px;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    border-radius: 5px;
    will-change: transform;
    animation: growth linear 0.1s;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__close > i {
    font-size: 2rem;
    cursor: pointer;
    will-change: transform;
    transition: transform 0.5s;
}

.modal__close > i:hover {
    transform: scale(1.5);
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form__heading {
    margin-top: 38px;
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 700;
}

.auth-form__social{
    margin-top: 40px;
}

.auth-form__social-icon {
    height: 36px;
    width: 180px;
    color: var(--black-color);
    border: 0.5px solid #121212;
    border-radius: 20px;
    margin: 0 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}

.auth-form__social-icon  > img {
    position: absolute;
    left: 20px;
}

.auth-form__social-icon:first-child {
    background-color: #4267B2;
    border: none;
    color: var(--white-color);
}

.auth-form__form {
    margin-top: 36px;
    min-width: 100%;
}

.auth-form__form-control {
    display: flex;
    
}

.auth-form__group {
   
    position: relative;
    display: flex;
    margin: 0 10px 20px;
    flex-grow: 1;
    flex-direction: column;
    
}

.auth-form__group-item {
    
    display: flex;
    align-items: center;
}

.auth-form__input {
    outline: none;
    /* min-width: 100%; */
    /* min-width: 426px; */
    height: 50px;
    padding: 16.5px 0 16.5px 20px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 500;
}

.auth-form__input:focus {
    border-color: var(--border-color);
}

.auth-form__label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    font-weight: 500;
    pointer-events: none;
    transition: 200ms ease;
}

.auth-form__input:focus + label, .auth-form__input:valid + label{
    top: 10px;
    font-size: 1.2rem;
    color: #898B91;
}

.auth-form__policy {
    margin: 20px 0;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
}

.auth-form__link {
    color: var(--border-color);
    font-weight: 700;
}

.auth-form__btn-signup{
    width: 320px;
}

.auth-form__btn-login {
    
    width: 100%;
}

.auth-form__btn {
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white-color);
    cursor: pointer;
    border: 1.5px solid transparent;
}

.auth-form__btn--primary{
    background-color: var(--border-color);
}

.auth-form__link-login{
    margin: 18px 0 30px;
    font-size: 1.2rem;
}

.auth-form__group-item__checkbox{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.auth-form__group-item__label {
    font-size: 1.2rem;
    color: var(--text-color);
}

.auth-form__link--forget{
    font-size: 1.6rem;
    color: var(--black-color);
    margin-bottom: 16px;
}

.auth-form__btn-last{

    width: 426px;
    margin: auto;
    border-color: var(--black-color);
    color: var(--black-color);
    margin-bottom: 40px;
}


/* List Music */

.musicSlide-header {
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.musicSlide-header__name {
    font-size: 2.4rem;
}

.musicSlide-header__btn {

}

.musicSlide-header__btn-link {
    color: var(--text-color);
    margin: 0 10px;
    cursor: pointer;
    background-color: var(--black-color);
}

.musicSlide-header__btn-link--active {
    color: var(--white-color);
}

.musicSlide-wrap {
    margin-top: 30px;
    overflow: hidden; 
}
.musicSlide-wrap__list {
    display: flex;
    transform: translateX(-13px);
    transition: transform 500ms ease 0s;
}
.musicSlide-wrap__item {
    width: 225px;
    margin: 0 13px;
}

.musicSlide-wrap__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.musicSlide-wrap__link--circle {
    align-items: center;
}

.musicSlide-wrap__item-img{
    position: relative;
    height: 225px;
    width: 225px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    transition: background-size 0.3s linear;
}

.musicSlide-wrap__item-img::before{
    position: absolute;
    content: '\f144';
    font-family: 'Font Awesome 5 Pro';
    color: var(--white-color);
    font-size: 8rem;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s linear;
}

.musicSlide-wrap__item-img:hover::before{
    opacity: 1;
    transform: scale(1);
}

.musicSlide-wrap__item-img::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
}


.musicSlide-wrap__item-img:hover::after{
    
    background-color: rgba(0, 0, 0, 0.4);
}

.musicSlide-wrap__item-img:hover{
    background-size: 120%;
    
}

.musicSlide-wrap__link--circle .musicSlide-wrap__item-img{
    border-radius: 50%;
}

.musicSlide-wrap__item-name {
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    
    line-height: 2rem;
    flex-grow: 1;
}

.musicSlide-wrap__link--circle .musicSlide-wrap__item-name {
    text-align: center;
}

.musicSlide-wrap__item-info {
    font-size: 1.4rem;
    color: var(--text-color)
}