doctype html
html(lang='vi')
  head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title= title
      link(href='https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&display=swap')
      block css
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
        link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.0.10/css/all.css')
        link(rel="stylesheet", href="/assets/css/base.css")
        
  body
    block content
    block extend
    block script